@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

/* Global Styles */
*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .05em;
  line-height: 1.65em;
  color: #131414;
}
a{
  color: #4995ff;
}
a, button{
  text-decoration: none;
  transition: color .2s linear;
}
a:hover{
  color: #4d79b6;
}
a:active, button:active{
  opacity: .8;
}
h1{
  font-size: 2em;  
}
h1.section_title{
  text-transform: uppercase;
}
h2{
  font-size: 1.5em;
}
h1, h2{
  font-weight: 400;
}
h3{
  font-size: .9em;
  text-transform: uppercase;
  margin: 0;
}
form{
  display: block;
  margin-bottom: 2em;
}
form span{
}
label{
  font-weight: 700;
  color: #5d626a;
  display: block;
  cursor: pointer;
}
input{
  max-width: 300px;
}
textarea{
  max-width: 550px;
  height: 140px;
}
input, textarea{
  border: none;
  font-size: 1.2em;
  padding: .5em;
  width: 100%;
  color: #141515;
  margin-bottom: 1em;
  outline: none;
  transition: box-shadow .2s;
}
input:focus, textarea:focus{
  box-shadow: 0 0 .25em rgba(0,0,0,.25);
}
.button, button{
  display: block;
  outline: none;
  cursor: pointer;
  background-color: #E4E4E4;
  padding: .75em 1em !important;
  box-shadow: .05em .05em .1em rgba(0,0,0,.2);
  border: none;
  font-size: 1em;
  font-weight: 700;
  transition: box-shadow .2s;
  color: #5d626a;
}
.button:hover, button:hover{
  box-shadow: .05em .05em .25em rgba(0,0,0,.4);
}
.button:active, button:active{
  box-shadow: .02em .02em .25em rgba(0,0,0,.4);
}
.right{
  float: right;
}
.light_bg{
  background: #f8f7f4;
}
.no_mobile{
  display: inline-block !important;
}
@media (max-width: 768px){
  .no_mobile{
    display: none !important;
  }
}

/* Header Section  */
#header{
  font-size: .85em;
  font-weight: 500;
  user-select: none;
}
#header ul{
  list-style: none;
  float: right;
  margin: -14px 0 0;
  padding: 0;
}
#header ul li, #header ul a{
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
#header ul a, #header ul button{
  color: #141515;
  padding: 1.55em .5em;
  text-transform: uppercase;
}
#header ul:hover li a{
  color: #C3C3C3;
  transition: color .2s;
}
#header ul:hover li:hover a{
  color: #141515;
}
#header ul a.button, #header ul button{
  margin-right: .25em;
}
#header ul li a.button:last-of-type, #header ul li button{
  margin-right: 0;
}
#header ul li.current_page_item a, #header ul:hover li.current_page_item a{
  border-top: .3em solid #C3C3C3;
  padding: 1.25em 0;
  color: #C3C3C3;
  margin: 0 .5em;
}
#header #logo{
  display: inline-block;
  height: 34px;
  width: 108px;
  background: url('template_media/logo.svg');
  background-size: cover;
}
input[type=checkbox]#mobile_navigation_toggler, label.mobile_navigation_toggle  {
  display: none;
}
@media (max-width: 768px){
  #header{
    padding-bottom: 0;
  }
  ul.page_navigation{
    display: none;  
    float: inherit!important;
    margin-top: 1em!important;
  }
  label.mobile_navigation_toggle { 
    display: block;
    float: right;
    font-size: 1.2em;
    border-radius: .25em;
    cursor: pointer;
    background: #eeeeee;
  }
  #header ul li.current_page_item a, #header ul:hover li.current_page_item a{
    border-top: .3em solid #C3C3C3;
    padding: 1.25em 0;
    color: #C3C3C3;
    margin: 0;
  }
  input[type=checkbox]#mobile_navigation_toggler:checked ~ label.mobile_navigation_toggle {
    background: #eeeeee;
  }
  input[type=checkbox]#mobile_navigation_toggler:checked ~ ul.page_navigation {
    display: block;
    width: 100%;
    text-align: center;
  
    line-height: 1em;
}
  .mobile.mobile_navigation_toggle{
    float: right;
  }
  ul.page_navigation li, ul.page_navigation li a{
    display: block;
    width: 100%;
  }
  ul.page_navigation li a{
    border-top: 1px solid #DBD8D8;       
    padding: .75em;
  }
  ul.page_navigation li a.button, ul.page_navigation li button{
    width: 100%;
    margin: .25em 0;
    border: none;
  }
}

/* Hero Section  */
#hero, #hero_small a{
  height: auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px;
  overflow: hidden;
}
#hero:before, #hero:after, #hero_small:before, #hero_small:after{
  content: " ";
  display: table;
}
#hero video{
  position: absolute; 
  top: 0px;
  right: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -20;
  background-size: cover;
}
#hero .nested_content{
  position: relative;
  overflow: hidden;     
  height: 0;     
  padding-bottom: 0;     
  padding-top: 0;     
  padding-bottom: 45.5%;
}
#hero h1{
  max-width: 560px;
  bottom: 10%;
  position: absolute;
  transition: all .4s ease;
}
#hero h1{
  color: white;
}
#hero h1, #hero_small a h2{
  transition: background .2s linear;
}
#hero a:hover h1, #hero_small a:hover h2{
  background: #5893E8;
}
#hero h1, #hero_small h2{
  background: #141515;
  color: white;
  padding: .5em;
}
#hero_small .nested_content{
  position: relative;
  overflow: hidden;     
  height: 0;     
  padding-bottom: 0;     
  padding-top: 0;     
  padding-bottom: 60.5%;
}
#hero_small h2{
  max-width: 560px;
  bottom: 10%;
  position: absolute;
}
@media (max-width: 768px){
  #hero h1{
    bottom: 0px;
    font-size: 1.5em;
  }
  #hero_small a{
    width: 100%;
  }
  #hero_small h2{
    bottom: 0px;
  }
  #hero_small .nested_content{
    padding-bottom: 45.5%;
  }
}

/* Featured Articles */
#featured_articles{
  background: #141515 url('template_media/background.svg') center 40% repeat;
  color: #f8f7f3;
}
#featured_articles a{
  display: inline-block;
  float: left;
  width:25%;
  height: 350px;
}
#featured_articles img{
  width:100%
}
#featured_articles span{
  display: block;
}
#featured_articles span.category{
  color: #AFAFAF;
  font-size: .8em;
  text-transform: uppercase;
}
#featured_articles a span.title{
  color: #f8f7f3;
  transition: color .2s linear;
}
#featured_articles a:hover span.title{
  color: #5893E8;
}
#featured_articles h1{
  background: none;
  padding: 0;
}
@media (max-width: 768px){
  #featured_articles a{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  
    line-height: 0;
}
  #featured_articles a span.title, #featured_articles span.category{
    background: #2b2c2c;
    margin: 0;
    line-height: 1.5em;
    padding-right: 25px;
    padding-left: 25px;

  }
  #featured_articles a span.title{
    border-bottom: 25px solid #2b2c2c;
  }
  #featured_articles a span.category{
    padding-top: 25px;
  }
}

/* Post Page  */
#post{
  min-height: 750px;
  padding: 4em 1em;
}
#post .meta{
  margin: 2em 0;
  padding: 1em 6em 1em 0;
  opacity: .65;
  border-bottom:1px solid #b1b5b5; 
}
#post .meta a{
  color: #141515;
}
#post .meta a:hover{
  color: #5894e8;
}
#post .meta a i{
  margin-left: .25em;
}
@media (max-width: 1200px){
  #post{
    min-height: auto;
  }
}
#side_info{
  background: #efeeeb;
  font-size: .9em;
}
#side_info img{
  width: 100%;
}
#side_info p{
  margin: .5em 0;
  padding: 0 1em;
}
#side_info ul{
  list-style: none;
  margin: 0;
  padding: 0;
  background: #efeeeb;
}
#side_info ul li a{
  display: block;
  color: #5d626a;
  font-weight: 700;
  transition: color .2s linear;
  padding: 1em;
  border-top: 1px solid #e0dfdc;
}
#side_info ul li a:after{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f054";
  float: right;
  padding-top: 0.4em;
}
#side_info ul li a:hover{
  color: #5894e8;
}
@media (max-width: 768px){
  #post .meta{
    margin: 1em 0;
    padding: 1em 0;
  }
  #post{
    font-size: .9em;
    padding: 1em;
  }
}

/* Post Archive */
#post_archive{
  background: #141515 url('template_media/background.svg') center 40% repeat;
  color: #f8f7f3;
}
#post_archive a.post{
  display: block;
  line-height: 0;
  color: #f8f7f3; 
  margin: 1em 0;
}
#post_archive a.post:nth-child(even){
  border-left: 1em solid transparent;
}
#post_archive a.post:nth-child(odd){
  border-right: 1em solid transparent;
}
#post_archive a.post span{
  line-height: 1.65em;
  background: #2b2c2c; 
  display: block;
  padding: 20px;
}
#post_archive a.post span.title{
  font-size: 1.5em;
  transition: color .2s linear;
  padding-bottom: 0;
}
#post_archive a:hover span.title{
  color: #5893E8;
}

/* Custom Post Archive */
#custom_post_archive{
  background: #141515;
}
#custom_post_archive .listed_post{
  height: auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 250px;
  overflow: hidden;
}
#custom_post_archive .listed_post:before, #custom_post_archive .listed_post:after{
  content: " ";
  display: table;
}
#custom_post_archive span{
  margin:0 0 .5em ;
  text-align: center;
  display: block;
}
#custom_post_archive span.large_title{
  font-size: 2em;
}
#custom_post_archive span.small_title{
  font-size: 1.5em;
}

#custom_post_archive span.tagline{
  margin-top: .5em;
}
#custom_post_archive .listed_post .nested_content{
  position: relative;
  overflow: hidden;     
  height: 0;               
  padding-bottom: 26%;
  padding-top: 20%;
  background-color: rgba(0,0,0,.55);
  color: white;
  transition: background-color .2s linear;
  min-height: 250px;
}

#custom_post_archive .listed_post:hover .nested_content{
  background-color: rgba(0,0,0,.75);
  color: #4d79b6;
}
/* Next and Previous Links */
#next_previous_links{
  margin: 2em 0;
  padding: 1em 0;
}

/* Foooter */
#footer{
  color: #f8f7f3;
  padding-top: 2em;
  background: #2b2c2c;
  font-size: .9em;
}
#footer a{
  color: #a9a9aa;
  transition: color .2s linear;
}
#footer a:hover{
  color: #f8f7f3;
}
#footer ul{
  list-style: none;
  padding: 0;
  margin: 0 0 2em 0;
}
#footer .contact_links{
  font-size: 1.1em;
}
#footer .contact_links i{
  margin-left: .2em;
  font-size: 1.15em;
}
#footer .contact_links i.fa-twitter{
  border-left: 1px solid #414141; 
  padding-left: .5em;
  margin-bottom: 2em;
}
#footer p{
  background: #404140;
  clear: both;
  text-align: center;
  padding: 2em 1em;  
  color: #a9a9aa;
  margin: 4em 0 0 0;
}

/* Navicon */
label *, label *:before, label *:after {
  transform: translate3d(0, 0, 0);
}
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 1em .75em;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: .625rem;
}
.navicon-button:hover .navicon:after {
  top: -.625rem;
}
.navicon {
  position: relative;
  width: 20px;
  height: 3px;
  background: #141515;
  transition: 0.5s;
  border-radius: 2.5rem;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: 3px;
  width: 20px;
  background: #141515;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: 6px;
}
.navicon:after {
  top: -6px;
}
.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}
.open .navicon:before,
.open .navicon:after {
  transition: 0.5s;
}
.open.plus .navicon,
.open.x .navicon {
  background: transparent;
}
.open.plus .navicon:before,
.open.x .navicon:before {
  transform: rotate(-45deg);
}
.open.plus .navicon:after,
.open.x .navicon:after {
  transform: rotate(45deg);
}

/* Grid */
.segment{
  padding: 1em;
}
.container{
  position: relative;
  margin: 0 auto;
  padding: 1em;
  max-width:1200px;
}
.container:before, .container:after {
    /* content: " "; */
    display: table;
}
.row{
  clear: both;
}
.row img{
  max-width: 100%;
}
.row:before, .row:after{
  clear: both;
  display: table;
  content: " ";
}
.eleven_span, .ten_span, .nine_span, .eight_span, .seven_span, .six_span, .five_span, .four_span, .three_span, .two_span, .one_span{
  float: left;
}
.twelve_span{
  width: 100%;
}
.eleven_span{
  width: 91.66666667%;
}
.ten_span{
 width: 83.33333333%; 
}
.nine_span{
  width: 75%;
} 
.eight_span{
  width: 66.66666667%;
} 
.seven_span{
  width: 50.33333333%;
}
.six_span{
  width: 50%;
}
.five_span{
  width: 41.66666667%;
}
.four_span{
  width: 33.33333333%;
}
.three_span{
  width: 25%;  
}
.two_span{
  width: 16.66666667%;
}
.one_span{
  width: 12%;
}
.one_space{
  padding-right: 12%;
}
.mobile{
  display: none;
}
.no_mobile{
  display: block;
}
@media (max-width: 768px){
  .eleven_span, .ten_span, .nine_span, .eight_span, .seven_span, .six_span, .five_span, .four_span, .three_span, .two_span, .one_spa{
    width: 100%
  }
  .one_space{
    padding-right: 0;
  }
  .mobile{
    display: inline-block;
  }
  .no_mobile{
    display: none;
  }
}

/* Non-Core Elements */
.subscribe-button-inner{
  padding-top: 20px!important;
}
#map{
  width: 100%;
  height: 250px;
}
#map a{
  display: hidden;
}